header {
    /* background: white; */
    color: white;
    padding: 10px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
section {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, button, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

#sightingsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal-sized columns */
    gap: 16px; /* Space between boxes */
    padding: 12px;
    /* background-color: aquamarine; */
}

#sightingsContainer > div {
    width: 180px; /* Ensures all boxes are equal */
    height: 280px; /* Increased height to accommodate text */
    border-radius: 10%;
    background-color: rgb(243, 242, 242);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sightingsContainer img {
    width: 100%;
    height: 120px; /* Fixed height */
    object-fit: cover; /* Crop to fit */
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

#sightingsContainer p {
    font-size: 14px;
    color: black;
    margin: 4px 0;
}


#container {
    margin-top: 50px;
    height: auto;
    width: 50%;
    /* background-color: rgba(154, 231, 154, 0.89); */

}


#weather-info {
    height: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}


input, button {
    margin: 10px;
    padding: 10px;
}

